@mixin getStartedBtn{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  background-color: #f25f3e;
  padding: 1rem 2rem;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 10px 35px -9px rgba(242,95,62,0.85), 0px 2px 35px -11px rgba(0,0,0,0.35); 
  box-shadow: 0px 10px 35px -15px rgba(242,95,62,0.85), 0px 2px 35px -11px rgba(0,0,0,0.35);
  transition: opacity 200ms ease-in-out;
  &:hover{
    transition: opacity 200ms ease-in-out;
    opacity: .75;
    color: #fff;
  }
}
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
  user-select: none;
}
.container-fluid{
  padding: 0 14rem;
}
.getStartedBtn{
  @include getStartedBtn();
}
section{
  padding-left: 2rem;
}
nav{
  padding: 0;
  margin: 3.5rem 0rem !important;
  vertical-align: middle;
  .logo{
    @include flexCenter();
  }
  .navLinks{
    text-align: center;
    display: flex;
    align-items: center;
    ul{
      display: flex;
      justify-content: space-evenly;
      flex-basis: 100%;
      list-style: none;
      margin: 0;
      padding: 0 6.6rem; //* PADDING FOR THE WIDTH OF NAVBAR
      li{
        :hover{
          color:#9095a7;
        }
        a{
          text-decoration: none;
          color: #21233c;
          font-weight: 500;
        }
      }
    }
  }
  .navGetStarted{
    @include flexCenter();
  }
}
.heroSection{
  padding-left: 2rem;
  padding-top: 9rem;
  .heroHeader{
    color: #21233c;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .heroPara{
    color: #9095a7;
    opacity: .9;
    line-height: 1.5rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
}