@mixin getStartedBtn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  background-color: #f25f3e;
  padding: 1rem 2rem;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 10px 35px -9px rgba(242, 95, 62, 0.85),
    0px 2px 35px -11px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 35px -15px rgba(242, 95, 62, 0.85),
    0px 2px 35px -11px rgba(0, 0, 0, 0.35);
  transition: opacity 200ms ease-in-out;
  &:hover {
    transition: opacity 200ms ease-in-out;
    opacity: 0.75;
    color: #fff;
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
  user-select: none;
}
.container-fluid {
  padding: 0 14rem;
}
.getStartedBtn {
  @include getStartedBtn();
}
nav {
  padding: 0;
  margin: 3.5rem 0rem !important;
  vertical-align: middle;
  .logo {
    @include flexCenter();
  }
  .navLinks {
    text-align: center;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-evenly;
      flex-basis: 100%;
      list-style: none;
      margin: 0;
      padding: 0 6.6rem; //* PADDING FOR THE WIDTH OF NAVBAR
      li {
        :hover {
          color: #9095a7;
        }
        a {
          text-decoration: none;
          color: #21233c;
          font-weight: 500;
        }
      }
    }
  }
  .navGetStarted {
    @include flexCenter();
  }
}
.heroSection {
  padding-left: 2rem;
  padding-top: 9rem;
  .heroHeader {
    color: #21233c;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .heroPara {
    color: #9095a7;
    font-weight: 300;
    line-height: 1.5rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
}
.firstBgImg {
  position: absolute;
  z-index: -1;
  transform: scale(1.2);
  top: 0;
  right: 0;
  margin-top: -2rem;
  margin-right: -2rem;
}
.aboutUsSection {
  margin: 7rem 0;
  .col-md-6:nth-of-type(1) {
    margin-top: 3rem;
    padding-right: 10rem;
    .aboutUsHeading {
      color: #21233c;
      font-size: 2.5rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }
    .aboutUsPara {
      color: #9095a7;
      font-weight: 400;
    }
  }
  .col-md-6:nth-of-type(2) {
    padding-left: 4rem;
    .aboutUsCard {
      .aboutUsCardHeading {
        font-size: 1rem;
        color: #21233c;
        font-weight: 700;
        margin: 3rem 0 1.5rem 0;
        span {
          padding: 0.5rem 1.75rem;
          background-color: #f25f3e;
          border-radius: 1000px;
          color: #fff;
          margin-right: 2rem;
        }
      }
      .aboutUsCardPara {
        color: #9095a7;
        font-weight: 400;
        margin-left: 6rem;
        padding-right: 5rem;
      }
    }
  }
}
.testimonialsSection {
  margin-top: 8rem;
  padding: 0;
  .testimonialsHeading {
    h2 {
      font-size: 2.5rem;
      color: #21233c;
      font-weight: 700;
      text-align: center;
    }
  }
  .swiper {
    margin: 0 auto;
    margin-bottom: 5rem;
    color: #9095a7;
    text-align: center;
    padding-top: 6rem;
    .swiper-slide {
      background-color: #f6f6f6;
      border-radius: 10px;
      h3 {
        color: #21233c;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      img {
        transform: scale(0.5);
        margin-top: -4.4rem;
      }
      p {
        padding: 0 2rem 2rem 2rem;
      }
    }
  }
  .testimonialsBtn {
    text-align: center;
    margin-bottom: 12rem;
  }
}
.secondBgImg {
  position: absolute;
  z-index: -1;
  margin-top: -20rem;
  margin-left: -27rem;
}
.simplifySection {
  .container-fluid {
    background-color: #f25f3e;
    background-image: url("../assets/images/bg-simplify-section-desktop.svg");
    color: #fff;
    h2 {
      padding: 3rem 0;
      font-size: 2.5rem;
    }
    .col-md-6:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        background-color: #fff;
        color: #f25f3e;
        transition: color 300ms ease-in-out;
        &:hover {
          opacity: 1;
          color: #f1876f;
          transition: color 300ms ease-in-out;
        }
      }
    }
  }
}
footer {
  padding: 4rem 0;
  background-color: #1e1e26;
  max-height: 250px;
  .col-md-3:nth-of-type(1) {
    // background-color: red;
    .socialMedia {
      padding-top: 80px;
      display: flex;
      justify-content: space-between;
      max-width: 160px;
      .fab {
        font-size: 1.4rem;
        color: #fff;
        &:hover {
          color: #f25f3e;
          cursor: pointer;
        }
      }
    }
  }
  .col-md-3:nth-of-type(2) {
    ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      li{
        font-weight: 100;
        a{
          color: #fff;
          text-decoration: none;
          &:hover{
            color: #f25f3e;
          }
        }
      }
    }
  }
  .col-md-3:nth-of-type(3) {
    ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      li{
        font-weight: 100;
        a{
          color: #fff;
          text-decoration: none;
          &:hover{
            color: #f25f3e;
          }
        }
      }
    }
  }
  .col-md-3:nth-of-type(4) {
    .footerForm{
      display: flex;
      justify-content: flex-end;
      input{
        padding: 1rem 1.5rem;
        outline: none;
        border-radius: 100px;
        border: none;
        margin-right: .5rem;
      }
      .footerSubmit{
        padding: 1rem 1.5rem;
        display: inline-block;
        transition: background-color .25s ease-in-out;
        &:hover{
          opacity: 1;
          background-color: #f1876f;
          transition: background-color .25s ease-in-out;
        }
      }
    }
    .error{
      font-size: .75rem;
      color: #b80b25;
      display: flex;
      justify-content: center;
      max-width: 70%;
      margin-top: .5rem;
      min-height: 45%;
      opacity: 0;
    }
    .copyright{
      color: #707078;
      font-size: .75rem;
      text-align: right;
    }
  }
}