body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container-fluid {
  padding: 0 14rem;
}

.getStartedBtn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  background-color: #f25f3e;
  padding: 1rem 2rem;
  border-radius: 1000px;
  box-shadow: 0px 10px 35px -15px rgba(242, 95, 62, 0.85), 0px 2px 35px -11px rgba(0, 0, 0, 0.35);
  transition: opacity 200ms ease-in-out;
}
.getStartedBtn:hover {
  transition: opacity 200ms ease-in-out;
  opacity: 0.75;
  color: #fff;
}

nav {
  padding: 0;
  margin: 3.5rem 0rem !important;
  vertical-align: middle;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navLinks {
  text-align: center;
  display: flex;
  align-items: center;
}
nav .navLinks ul {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;
  list-style: none;
  margin: 0;
  padding: 0 6.6rem;
}
nav .navLinks ul li :hover {
  color: #9095a7;
}
nav .navLinks ul li a {
  text-decoration: none;
  color: #21233c;
  font-weight: 500;
}
nav .navGetStarted {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection {
  padding-left: 2rem;
  padding-top: 9rem;
}
.heroSection .heroHeader {
  color: #21233c;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
}
.heroSection .heroPara {
  color: #9095a7;
  font-weight: 300;
  line-height: 1.5rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.firstBgImg {
  position: absolute;
  z-index: -1;
  transform: scale(1.2);
  top: 0;
  right: 0;
  margin-top: -2rem;
  margin-right: -2rem;
}

.aboutUsSection {
  margin: 7rem 0;
}
.aboutUsSection .col-md-6:nth-of-type(1) {
  margin-top: 3rem;
  padding-right: 10rem;
}
.aboutUsSection .col-md-6:nth-of-type(1) .aboutUsHeading {
  color: #21233c;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.aboutUsSection .col-md-6:nth-of-type(1) .aboutUsPara {
  color: #9095a7;
  font-weight: 400;
}
.aboutUsSection .col-md-6:nth-of-type(2) {
  padding-left: 4rem;
}
.aboutUsSection .col-md-6:nth-of-type(2) .aboutUsCard .aboutUsCardHeading {
  font-size: 1rem;
  color: #21233c;
  font-weight: 700;
  margin: 3rem 0 1.5rem 0;
}
.aboutUsSection .col-md-6:nth-of-type(2) .aboutUsCard .aboutUsCardHeading span {
  padding: 0.5rem 1.75rem;
  background-color: #f25f3e;
  border-radius: 1000px;
  color: #fff;
  margin-right: 2rem;
}
.aboutUsSection .col-md-6:nth-of-type(2) .aboutUsCard .aboutUsCardPara {
  color: #9095a7;
  font-weight: 400;
  margin-left: 6rem;
  padding-right: 5rem;
}

.testimonialsSection {
  margin-top: 8rem;
  padding: 0;
}
.testimonialsSection .testimonialsHeading h2 {
  font-size: 2.5rem;
  color: #21233c;
  font-weight: 700;
  text-align: center;
}
.testimonialsSection .swiper {
  margin: 0 auto;
  margin-bottom: 5rem;
  color: #9095a7;
  text-align: center;
  padding-top: 6rem;
}
.testimonialsSection .swiper .swiper-slide {
  background-color: #f6f6f6;
  border-radius: 10px;
}
.testimonialsSection .swiper .swiper-slide h3 {
  color: #21233c;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.testimonialsSection .swiper .swiper-slide img {
  transform: scale(0.5);
  margin-top: -4.4rem;
}
.testimonialsSection .swiper .swiper-slide p {
  padding: 0 2rem 2rem 2rem;
}
.testimonialsSection .testimonialsBtn {
  text-align: center;
  margin-bottom: 12rem;
}

.secondBgImg {
  position: absolute;
  z-index: -1;
  margin-top: -20rem;
  margin-left: -27rem;
}

.simplifySection .container-fluid {
  background-color: #f25f3e;
  background-image: url("../assets/images/bg-simplify-section-desktop.svg");
  color: #fff;
}
.simplifySection .container-fluid h2 {
  padding: 3rem 0;
  font-size: 2.5rem;
}
.simplifySection .container-fluid .col-md-6:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.simplifySection .container-fluid .col-md-6:nth-of-type(2) a {
  background-color: #fff;
  color: #f25f3e;
  transition: color 300ms ease-in-out;
}
.simplifySection .container-fluid .col-md-6:nth-of-type(2) a:hover {
  opacity: 1;
  color: #f1876f;
  transition: color 300ms ease-in-out;
}

footer {
  padding: 4rem 0;
  background-color: #1e1e26;
  max-height: 250px;
}
footer .col-md-3:nth-of-type(1) .socialMedia {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 160px;
}
footer .col-md-3:nth-of-type(1) .socialMedia .fab {
  font-size: 1.4rem;
  color: #fff;
}
footer .col-md-3:nth-of-type(1) .socialMedia .fab:hover {
  color: #f25f3e;
  cursor: pointer;
}
footer .col-md-3:nth-of-type(2) ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
footer .col-md-3:nth-of-type(2) ul li {
  font-weight: 100;
}
footer .col-md-3:nth-of-type(2) ul li a {
  color: #fff;
  text-decoration: none;
}
footer .col-md-3:nth-of-type(2) ul li a:hover {
  color: #f25f3e;
}
footer .col-md-3:nth-of-type(3) ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
footer .col-md-3:nth-of-type(3) ul li {
  font-weight: 100;
}
footer .col-md-3:nth-of-type(3) ul li a {
  color: #fff;
  text-decoration: none;
}
footer .col-md-3:nth-of-type(3) ul li a:hover {
  color: #f25f3e;
}
footer .col-md-3:nth-of-type(4) .footerForm {
  display: flex;
  justify-content: flex-end;
}
footer .col-md-3:nth-of-type(4) .footerForm input {
  padding: 1rem 1.5rem;
  outline: none;
  border-radius: 100px;
  border: none;
  margin-right: 0.5rem;
}
footer .col-md-3:nth-of-type(4) .footerForm .footerSubmit {
  padding: 1rem 1.5rem;
  display: inline-block;
  transition: background-color 0.25s ease-in-out;
}
footer .col-md-3:nth-of-type(4) .footerForm .footerSubmit:hover {
  opacity: 1;
  background-color: #f1876f;
  transition: background-color 0.25s ease-in-out;
}
footer .col-md-3:nth-of-type(4) .error {
  font-size: 0.75rem;
  color: #b80b25;
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin-top: 0.5rem;
  min-height: 45%;
  opacity: 0;
}
footer .col-md-3:nth-of-type(4) .copyright {
  color: #707078;
  font-size: 0.75rem;
  text-align: right;
}/*# sourceMappingURL=style.css.map */